.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    color: white;
    width: 50vw;
    height: 50vh;
    background-color: var(--principal-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    border-radius: 60px;
    background: #161624;
    box-shadow:  24px 24px 42px #09090e,
                -24px -24px 42px #23233a;
    
}

form input {
    border-radius: 15px;
    border: none;
    margin: 15px;
    padding: 15px;
    width: 40vw;
}

button {
    color: white;
    background-color: var(--principal-color);
    border-radius: 15px;
    border: none;
    margin: 15px;
    padding: 10px;
    width: 10vw;
    font-size: 1rem;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    background-color: #2d2d42;
    transform: scale(1.2);
}

