.containerView {
    width: 50vw;
    height: 50vh;
    background-color: var(--principal-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

img {
    width: 20vw;
    height: 30vh;
    border-radius: 10px;
}

.bar {
    border-right: solid 3px var(--font-color);
    border-radius: 10px;
    margin: 0 5%;
}

@media (max-width: 768px) {
    .containerView {
        flex-wrap: wrap;
        justify-content: center;
        height: 60vh;
        width: 60vw;
    }
    img {
        width: 30vw;
        height: 20vh;
        margin-bottom: 15%;
    }
    .bar {
        margin: 0;
        border: none;
    }
}