.containerView {
    width: 50vw;
    height: 50vh;
    background-color: var(--principal-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50vh;
}

img {
    width: 10vw;
    height: 30vh;
    border-radius: 10px;
}


.bar {
    border-right: solid 3px var(--font-color);
    border-radius: 10px;
    height: 40vh;
    margin: 3%;
}

.text {
    color: var(--font-color);
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


@media (max-width: 768px) {
    .containerView {
        flex-wrap: wrap;
        justify-content: center;
        height: 60vh;
        width: 60vw;
        padding: 0;
    }
    img {
        width: 30vw;
        height: 20vh;
        margin-bottom: 15%;
    }
    .bar {
        display: none;
    }
}