.view {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.arrow {
    transition: all .2s ease-in-out;
    margin: 30px;
}

.arrow:hover {
    transform: scale(1.1);
    cursor: pointer;
}