:root {
  --principal-color: #1e1e31;
  --font-color: #f8f8f8;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: var(--principal-color);
}